* {
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
}

nav {
	background: #05070A;
	padding: 10px;

}

nav ul {
	margin: 0;
	padding: 10px 0;
	list-style-type: none;
	text-align: center;
	word-spacing: 5px;
	letter-spacing: 3px;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav li a {
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration-line: none;
	font-size: 1.5rem;
	font-family: 'Do Hyeon', sans-serif;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
    padding: 0 15px;
    position: relative;
    text-align:center;


}


#intro{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(119deg, rgba(0,0,0,1) 32%, rgba(255,255,255,0.1) 93%),
                      url(../images/welding.jpg);
    background-size: cover; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
   
    position: relative;
    overflow: hidden;
    
    
}

.nav{
    display: flex;
	height: auto;
	flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    top: calc(100vh/2 - 11.5px/2);
    position: relative;
  
}

.bottons{
    flex-grow: 1;
    color: white;
    background-color:rgba(255, 255, 255, 0.2);
    font-size: 20px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    padding: 10px;
    z-index: 1;

   
    
}

.buttons1{
    animation: animation 10s ease-out 1s alternate infinite;
}
.buttons2{
    animation: animation 10s ease-out 3s alternate infinite;
}
.buttons3{
    animation: animation 10s ease-out 4s alternate infinite;
}
.buttons4{
    animation: animation 10s ease-out 2s alternate infinite;
}


@keyframes animation{
    0%{
        background-color:rgba(255, 255, 255, 0.2);
        
    }
    100%{
        background-color:rgba(255, 255, 255, 0.7);
        color: black;
    }
}

.bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translateZ(0);
}

.bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -200px;
    animation: square 20s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1){
    width: 40px;
    height: 40px;
    left: 10%;
}

.bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    left: 30%;  
    animation-delay: 2s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3){
    width: 10px;
    height: 10px;
    left: 60%;  
    animation-delay: 4s;
    animation-duration: 17s;
}

.bubbles li:nth-child(4){
    width: 80px;
    height: 80px;
    left: 80%;  
    animation-delay: 1s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5){
    width: 50px;
    height: 50px;
    left: 50%;  
    animation-delay: 7s;
    animation-duration: 12s;
}

@keyframes square{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    100%{
        transform: translateY(-1300px) rotate(1000deg);
        -webkit-transform: translateY(-1300px) rotate(1000deg);
         border-radius: 50%;
         filter: blur(50px);
         background-color: gold;
    }
}

@media screen and (max-width: 800px) {
    #intro{
        
       background-position: center;

      
    }
  
   
      .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 100px;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 250px;
        background: #fff;
    
      }
    
      .imgBx img{
          width: 100%;
          height: 200px;
      }
    
      .details h3{
          text-align: center;
          vertical-align: middle;
      }

      #lavori{
          display: none;
      }

      .details img{
          width: 100%;
          text-align: center;
      }

      #mobile{
          background-color: black;
          height: 100vh;
          border: 1px solid white;
      }

  }

  @media screen and (min-width: 830px) {
    #mobile{
        display: none;
    }

      
    }




  }

  a{
      list-style: none;
      text-decoration: none;
      z-index: 2;
      cursor: pointer;
      width: 200px;
      transition: transform 1s;
      
  }

  a:hover{
      transform: scale(1.2);
      transform: rotate(5deg);
  }

  #lavori{
      width: 100%;
      height: auto;
      background:black;
      position: relative;
      border-top: 1px solid white;
      margin:0;
     
  }

  .gallery img{
      width: 200px;
      height: 200px;
      margin: 20px;
      transition: transform 0.7s;
      border-radius: 2px;
      transition-timing-function: linear;
      border: 1px solid white;
      
      
  }

  .gallery{
   
      height: auto;
      display: flex;
	flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
   
   
    margin-top: 50px;
  
    
  }

  .gallery img:hover{
      transform: scale(1.2);
      
    
  }

    html {
        scroll-behavior: smooth;
        
      }
.caption{
    color: white;
    margin: 0;
    padding: 0;
}

.caption h1{
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
    
    
}
.caption p{
    font-size: 15px;
    font-family: 'Do Hyeon', sans-serif;
}

.caption{
    margin-top: 50px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.fas{
    position: absolute;
   
    text-align: center;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    animation: arrow 1s ease-in-out 1s alternate infinite;
    
    
}



@keyframes arrow{
    0%{
        bottom: 10%;
        
    }
    100%{
       bottom: 5%;
    }
}

h2{
    font-size: 250px;
    z-index: 0;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    left: -300px;
    font-family: 'Black Han Sans', sans-serif;
    height: 200px;

    
    

}

