@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Englebert);
@import url('https://fonts.googleapis.com/css2?family=Plaster&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&family=Square+Peg&display=swap');
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.cf:before,
.cf:after {
	content: '';
	display: table;
}

.cf:after {
	clear: both;
}

body {
	height: 100vh;
	overflow: hidden;
	max-width: 100vw;
	scroll-behavior: smooth;
	background-color: white;
	
}

html {
	scroll-behavior: smooth;
	background-color: white;
	
}

body {
	background: #24252c;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	font-family: 'Englebert', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
	/* force scroll */
}

a {
	
	text-decoration: none;
	outline: none;
}



a:hover,
a:focus {
	color: #fff;
}

#lavori {
	height: 100%;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	max-width: 100vw;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0em;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
}

.codrops-header {
	position: relative;
	text-align: center;
	-webkit-flex: none;
	flex: none;
	margin-bottom: 3em;
	color: #067ba7;
	padding: 0 1em;
}



.codrops-header h1 {
	font-weight: 400;
	font-size: 1.15em;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

.info {
	margin: 0;
	font-size: 0.85em;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.info a {
	color: #e4ef80;
	font-weight: bold;
}



.info a:hover {
	color: #fff;
}

/* section1 */

#section1 {
	height: 100vh;
	max-width: 100vw;
	background-color: white;
	z-index: 1000000000;
}

/* menu */
.navbar {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000000000000;
	width: 60px;
	height: 60px;
	overflow: hidden;

}

.toggle span {
	position: absolute;
	width: 40px;
	height: 4px;
	background-color: black;
	border-radius: 4px;
	transition: 0.5s;
	box-shadow: 1px 1px 10px black;
	


}

.toggle span:nth-child(1) {
	transform: translateY(-10px);
	width: 25px;
	left: 5px;


}

.toggle span:nth-child(2) {
	transform: translateY(10px);
	width: 15px;
	left: 5px;




}

.toggle.active span:nth-child(3) {
	transform: translateX(60px);
	background-color: black;



}

.toggle.active span:nth-child(1) {
	width: 40px;
	transform: translateY(0px) rotate(45deg);
	background-color: black;
	transition-delay: 0.14s;
}

.toggle.active span:nth-child(2) {
	width: 40px;
	transform: translateY(0px) rotate(315deg);
	background-color: black;
	transition-delay: 0.14s;

}

.toggle.active {
	animation: 0ms;
	border: 5px solid rgba(255, 255, 255, .0);


}

.toggle {
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, .0);
	width: 100%;
	height: 100%;
	background-color: transparent;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* animation-name: menuanimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	overflow: hidden; */
}


@keyframes menuanimation {
	0% {
		border-color: #00010232;
	}

	50% {

		border-color: black;
	}

	100% {
		border-color: #00010232;

	}

}

/* sidebarmenu */

.side-bar-menu {
	position: fixed;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: -100;
	/* transition: ease-in-out;
	transition-duration: 0.25s; */
	align-items: center;
	justify-content: center;
	opacity: 0;

}

@keyframes sidebaranimation {
	30% {
		left: 50%;

	}

	50% {

		left: 0;

	}

	70% {
		left: 30px;

	}

	100% {
		left: 0;
		opacity: 1;


	}

}

@keyframes sidebaranimationIndietro {



	100% {
		left: -100vw;

	}

}













.info-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	text-align: start;
}

.info-menu h1 {
	padding: 0px;
	letter-spacing: 7px;
	font-size: 3rem;
	text-align: start;
	font-family: 'Roboto', sans-serif;
}

.info-menu a {
	text-decoration: none;
	color: black;
	padding: 0;
	margin: 0;
	margin-left: 40px;


}

.info-menu a:hover h1 {
	cursor: pointer;
	color: #067ba7;
	transition: all 0.21s;

}




video {
	width: 100vw;
	height: 30%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	top: 0;
	




}

.parte1 h1 {
	position: absolute;
	z-index: 10000000;
	color: black;
	font-family: 'Roboto', sans-serif;
	z-index: 1000;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;

}


.intro {
	position: relative;
	color: black;
	font-family: 'Roboto', sans-serif;
	top: 100px;
	width: 80vw;
	margin: auto;
	
	
}

.play {
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 2px solid #ead637;
	margin-bottom: 20px;
}

.play img {
	width: 20px;
	height: 20px;

}

.fabbro {
	color: #33ca7f;
}

.intro h1 {
	padding: 0;
	margin: 0;
	letter-spacing: 3px;
}



.intro p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro button {
	margin-top: 15px;
	padding: 10px 20px;
	background-color: #33ca7f;
	text-decoration: none;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	
}

.intro a{
	text-decoration: none;
	color: black;
}


.shape1 {
	position: relative;
	width: 800px;
	height: 300px;
	background-color: #ead637;
	border-radius: 50%;
	filter: blur(4.5rem);
	right: -30px;
	top: 500px;
	/* animation: shape1 infinite 20s; */
	overflow: hidden;
	margin: 0;
	padding: 0;


}

@keyframes shape1 {
	0% {}

	50% {

	
		opacity: 0.2;
	}

	100% {
		opacity: 1;
		
	}

}


