@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:black;
    top: 0;
    opacity: 1;
    z-index: 1000;
}

.elements{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);  
}
.elements img{
    width: 40px;
}

.elements .hammer{
   
    animation: hammer 0.6s infinite linear alternate;
    transform: rotate(-30deg) translate(-5px,-30px);
}

@keyframes hammer{
    0%{
        transform: rotate(-30deg) translate(-5px,-30px);
        
    }
    100%{
        transform: rotate(0deg) translate(-5px,-30px);
       
    }
}
.content{
    position: relative;
    margin-top: 10%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    
}
p{
    display: inline-block;
    
}
h3{
    display: inline-block;
}

.content p:nth-child(2){
    animation: p-loading 2s ease-in infinite;
    opacity: 0;

}
.content p:nth-child(3){
    animation: p-loading1 2s ease-in infinite;
    opacity: 0;
    animation-delay: 2s;
    
}

.content p:nth-child(4){
    animation: p-loading 2s ease-in infinite; 
    opacity: 0;
    animation-delay: 3s;
}

@keyframes p-loading{
    0%{
      opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        display: none;

    }
}

@keyframes p-loading1{
    0%{
      opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

@keyframes p-loading2{
    0%{
      opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

.preload-finish{
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

/*--------------------------------------------------*/

#first-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
   
  
}
.half{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
  
    z-index: -10;
    margin: 0;
    
}
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 100000;
    cursor: pointer;
    
    
    
}

.one{
    position: absolute;
    width: 80%;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.4s ease-in;
}

.one-modify{
    transform: translateX(-16px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.two{
    position: absolute;
    width: 80%;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    transform: translateY(-8px);
    transition: all 0.3s ease-in;
}

.two-modify{
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}

.btn{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.three{
    position: absolute;
    width: 80%;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    transform: translateY(8px);
    transition: all 0.3s ease-in-out;
    
}
.three-modify{
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}

.slide{
    position: fixed;
    background-color: rgba(0,0,0,1);
    width: calc(100vw);
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: calc(calc(-100vw - 65px));
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
    filter: blur(3px);
    
}

.slide-modify{
    left: 0;
    transition: all 0.5s ease-in;
    filter: blur(0px);
}

.slide a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid white;
    width: 40%;
    margin: 30px auto;
    padding: 10px;
}

.ahref{
    transform: translateX(calc(-100vw - 500px));
    transition: all 0.2s ease-in;
}

.ahref1{
    transform: translateX(0);
    transition: all 0.2s ease-in;
}

.ahref2{
    transform: translateX(0);
    transition: all 0.7s ease-in;
    transition-delay: 0.2s;
}
.ahref3{
    transform: translateX(0);
    transition: all 0.7s ease-in;
    transition-delay: 0.4s;
}
.ahref4{
    transform: translateX(0);
    transition: all 0.7s ease-in;
    transition-delay: 0.6s;
}



.slide a:nth-child(4){
    margin-bottom: 50px;
}

.menu-modify{
    z-index: 100000;
}

.fass{
    z-index: 1000;
    position: absolute;  
    text-align: center;
    left: 50%;
    bottom: -20%;
    transform: translateX(-50%);
    animation: arrow 1s ease-in-out 1s alternate infinite;
    
    
}

@keyframes arrow{
    0%{
        bottom: 30%;
        
    }
    100%{
       bottom: 25%;
    }
}



.second-half a{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: #398439;;
    border: 1px solid white;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;

}

.imgBx img{
    width: 100%;
    height: 200px;
}

#lavori{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(39,48,54,1) 30%, rgba(255,255,255,0) 92%);
}

.swiper-slide{
    width: 100%;
    padding: 40px;
}

.details img{
    width: 100%;
    height: 100%;
    text-align: center;
    top: -10px;
    position: relative;
 
}
.button-scopri{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20000000;
    width: 50px;

}

.primo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 40px;
    width: 60%;
    border-radius: 20px 0 0 20px;
    background-color: black;
    height: 100px;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

.primo p{
    color: white;
    width: 80%;
    margin: 0 auto;
}

.secondo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 60%;
    border-radius: 0 20px 20px 0;
    background-color: black;
    height: 100px;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}


#info{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}
.info1{
    height: 33.3vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info2{
    height: 33.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #f2f2f2;
}

.info3{
    height: 33.3vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.info1 img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.info1 p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
}

.info2 img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.info2 p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
}

.info3 img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.info3 p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
}

.svg1{
    height: 600px;
 
    position: absolute;
    top: 0;
    left: 0;
}
.svg2{
    height: 2000px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.title{
    width: 50%;
    z-index: 9999;
    transform: translateY(-50px);
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
  
}