* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

nav {
	background: #05070A;
	padding: 10px;

}

nav ul {
	margin: 0;
	padding: 10px 0;
	list-style-type: none;
	text-align: center;
	word-spacing: 10px;
	letter-spacing: 3px;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav li a {
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration-line: none;
	font-size: 1.5rem;
	font-family: 'Do Hyeon', sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;


}

header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}


#hero{
	 background-image:radial-gradient(circle,rgba(0,0,0,0.7) 50%, black 100%),
	                  url(../images/11924.jpg);             
	 width: 100%;
	 height: 700px;
	 background-size: cover; 
	 background-repeat: no-repeat;  
	 background-attachment: fixed; 
	 z-index: -1;
	 position: relative;
	 margin: 0;
	 box-shadow: 0 0 25px 10px rgba(0,0,0,0.8);

	 

}

.image-welding img{
	width:1000px;
	 filter: brightness(30%) ;
	 position: absolute;
	 left: 0;
	 right: 0;
	 top:-50px;
	 margin: auto;
	 z-index: -5;
	 animation: luce 7s 1s  alternate infinite linear;

	


}
.image-welding {
	
	 position: relative;
	
	


}

.hero-caption1{
	z-index: 20;
	color: white;

	position: absolute;
	top: 300px;
	left: 0px;
	text-align: center;
	font-family: 'Sen', sans-serif;
}

.hero-caption2{
	z-index: 20;
	color: white;
	
	position: absolute;
	top: 300px;
	right: 0px;
	text-align: center;
	font-family: 'Sen', sans-serif;
}

.hero-caption1 h1, .hero-caption2 h1{
	text-align: center;
	font-size: 3rem;
	margin-bottom: 25px;
	color: gold;
}

.hero-caption1 .btn{
	text-align: center;
	font-size: 1.5rem;
	text-decoration-line: none;
	border-radius: 10px;
	background-color: gold;
	padding: 7px;


	
}
.hero-caption2 .btn{
	text-align: center;
	font-size: 1.5rem;
	text-decoration-line: none;
    border-radius: 10px;
	background-color: gold;
	padding: 7px;

}

.hero-caption1 h2, .hero-caption2 h2{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 35px;
}

@keyframes luce{
0%{
filter: brightness(30%);
}

100%{
filter: brightness(90%);
}

}


#info{
	width: 100%;
	height: 400px;


	margin: 0;
	position: absolute;
	z-index: -5;
}

.text img{
	width: 20%;
	float: left;
	padding: 10px;



}

.text p{
	font-size: 2rem;
	font-family: 'Sen', sans-serif;
	color: white;
	padding: 10px;
}

.text{
background:linear-gradient(119deg, rgba(97,16,172,1) 1%, rgba(24,7,36,1) 100%);
margin-top: 100px;


}



